body{
    font: 20px, Arial, serif
}

.navbar {
    background-color: rgba(78, 59, 59, 0.397);
}

.quem-somos{
    background-color: blue;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: bisque;
}

.bg-footer{
    background-color: brown;
    color: white;
    font-size: bold;
}